.loginForm {
  margin: auto auto;
  padding: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 430px;
}
.loginForm:before {
  background-image: url("../../assets/img/blog-3.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}
.headerText {
  font: normal 800 40px/19px "Roboto", sans-serif;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}
.loginForm input {
  margin: 10px 0px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font: normal normal 16px "Open Sans", sans-serif;
  height: 45px;
  outline: none;
}
.loginForm input::placeholder {
  font: normal normal 16px "Open Sans", sans-serif;
  color: #707070;
}
.loginForm input[type="checkbox"] {
  display: none;
}
.loginForm label {
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.loginForm label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ddd;
}
.loginForm input[type="checkbox"]:checked + label:before {
  content: "\2713";
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 20px;
}
.loginForm span {
  font-size: 18px;
}
.loginForm button {
  background-color: #34ad54;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 20px 0px;
}
.loginForm button:hover,
.loginForm button:active,
.loginForm button:focus {
  background-color: #34ad54;
  color: #fff;
}
.loginForm a {
  color: #fff;
  font: normal 800 25px / 19px "Roboto", sans-serif;
  text-decoration: none;
}
.loginForm span {
  color: white;
}
