.phoneIcon{
    color: #34ad54;
    font-size: 20px;
}
.phoneNo{
   font: normal 700 32px/1 'Roboto', sans-serif;
}
.header{
   font: normal normal 700 50px/19px Roboto, sans-serif;
   color: #f93;
}
.connectText{
    font: normal normal 700 50px/19px Roboto, sans-serif;
    color: #34ad54; 
}
.icon{
    background-color: #34ad54; 
    border: 1px solid #34ad54;
}